@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800;900&display=swap');

@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/fonts/HelveticaNowText-Regular.woff2');
}

html {
  font-family: 'Helvetica Now Text';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

#root {
  min-height: 90vh;
  position: relative;
}
